<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31699933630-ueak4c4a0lq1dcc4q482bh83ud8nqlf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31699933630-ueak4c4a0lq1dcc4q482bh83ud8nqlf7</string>
	<key>API_KEY</key>
	<string>AIzaSyC6_MthejdXDJiW4iGxhG6B3FchRZGCJDo</string>
	<key>GCM_SENDER_ID</key>
	<string>31699933630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alina.com.MusicStreamingApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-eb494</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-eb494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31699933630:ios:38b5e30ccca8b496b881ef</string>
</dict>
</plist>